<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <h1>Here we really go now</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">SUBMIT</button>
    </form>

    <h2> quotes </h2>

    <ul class="quotes">
        <% for(var i = 0; i < quotes.length ;i++) {%>
        <li class="quote">
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].quote %></span>
        </li>
      <% } %>
    </ul>
    <div>
        <h2>Prevailing Wisdom</h2>
        <p>
            Update the prevailing wisdom.
        </p>
        <button id="update-button">Replace the quote</button>
    </div>
    <div>
        <h2>Remove one</h2>
        <p>does nothing if there are no more suzy quotes</p>
        <button id="delete-button">delete</button>
    </div>
    <div id="message"></div>
    
<script src="script.js"></script>

</body>
</html>