body {
    font-family: 'Courier Prime', monospace;
    background-color: lightgrey; 
    display:flex;
    height: 100%;
    overflow-y: hidden;
}
.container {
    max-width: 50%;
}

.hide {
    display: none;
}